<!DOCTYPE html>
<html>
    <head>
        <title>Мой крутой блог</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Заголовок (не знаю что написать)</a></h1>
        </div>

        <div>
            <p>Опубликовано: 05.12.2021, 12:14</p>
            <h2><a href="">Мой первый пост</a></h2>
            <p>Какой-то смешнявый текст</p>
        </div>

        <div>
            <p>Опубликовано: 05.12.2021, 12:14</p>
            <h2><a href="">Мой второй пост</a></h2>
            <p>Какой-то смешнявый текст</p>
        </div>
    </body>
</html>